<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="h.radoslav.au.news">

    <application
        android:name=".NewsApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.news.NewsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.source.SourceActivity" />
        <activity android:name=".ui.article.ArticleActivity" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="1f5c12076ec7404e412d8507e4709a28cb11c6ee" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>